body{ 
   font-family: "Audiowide", sans-serif;
   position: fixed;
   background-image: url("assets/daniel.jpg");
   background-color: black;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   left: 0;
   right: 0;
   top: 0;
   height: 100vh;
   z-index: -1; 
  }

.firstPage{
   width: 60vw;
   color: white;
   padding-left: 0.2vw;
}

.name{
   font-size: 50px;
   margin-top: 30vh;
   margin-left: 40px;
   overflow: hidden;
   white-space: nowrap;
   border-right: 4px solid;
   width: 0;
   animation: typing 10s steps(20) infinite, blinking 1s infinite;
}

@keyframes typing {
 0%{
   width: 0ch;
 }
 50%{
   width: 13ch;
 }
}

@keyframes blinking {
   0% {border-right-color: transparent}
   50% {border-right-color: red}
   100% {border-right-color: transparent}
 }

.btn{
   width: 100vw;
   background-color: transparent;
   position: relative;
}
.layer{
background-color: red;
height: 100%;
width: 0%;
position: absolute;
left: 0;
bottom: 0;
transition: 20s;
}

.firstPage:hover .layer{
   width: 100%;
}



.name:hover{
   
   color:red;
   text-shadow:
   0 0 0px red,
   0 0 50px red,
   0 0 75px red,
   0 0 100px red; 
   
}

.bio{
   margin-top: 25px;
   margin-left:45px;
}
.bio:hover{
   
   color:red;
   text-shadow: 
   0 0 0px red,
   0 0 50px red,
   0 0 75px red,
   0 0 100px red;   
}


.Navigator{
   margin-top: 30px;
   width: 50vw;
   color: red;
   display: flex;
   list-style: none;
   justify-content: space-around;
   background-color: transparent;
 
  
  }
 
  .Navigator li:hover{
  
    background-color: white; 
    border-radius: 5px;
  }

.social a{
   margin-top: 40px;
   display: inline-flex;
   text-decoration: none;
   color: white;
   background-color: transparent;
   margin-right: 80px;
   padding-left: 115px;
   
  }

   .social a:hover{
  
    background-color: black; 
    border-radius: 5px;
 }

  